services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: cloudcorrect
      POSTGRES_PASSWORD: cloudcorrect_pass
      POSTGRES_DB: cloudcorrect
    ports:
      - "5437:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
